<div class="offer">

    <h1>Show your christmas spirit. Share on FB+TW & others will win discounted stuff!</h1>
    <div class="visual"><a href="#"><%=image_tag"/assets/examples/offer-01.jpg"%></a></div>
    <div class="descr">
        <br>
        <p class="info">2 Premium tickets for $50</p>
        <p>
            <a class="btn-share fb" href="javascript:;">share facebook</a>
            &nbsp;
            <a class="btn-share tw" href="javascript:;">share twitter</a>
        </p>
        <p>
        <%=image_tag "/assets/full/icons/not-available.png", :width => "108" ,:height => "108", :border => "0" %>
        </p>
    </div>

</div><!-- .offer --